@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {

    button,
    a,
    label,
    [role="button"],
    select,
    input[type="submit"],
    input[type="button"],
    input[type="reset"] {
        cursor: pointer;
    }

    html,
    body {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }

    button:disabled,
    input:disabled,
    a:not([href]) {
        cursor: not-allowed;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #e2e8f0;
        border-radius: 10px;
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #1e293b;
    }
}